<h2 class='display-1'>Book title: <%= @book.title %></h2>

<h3>Book author(s)</h3>
<p class='display-3'><%= @book.author %></p>

<p><a href="/book/<%= @book.id %>/edit">Edit book</a></p>
<p><a href="/main">Return to home page</a></p>
