<!DOCTYPE html>
<html>
  <head>
    <title>Public Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="styles.css" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>