<h1>Add a new book</h1>

<form action="/new_book" method="post">
  <div class="form-group">
    <label for="book_title">Book Title</label>
    <input id="book_title" name="book_title" class="form-control" type="text">
    <br>
    <label for="book_author">The Author:</label>
    <input id="book_author" name="book_author" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add book</button>
</form>
